@charset "utf-8";

/*Float 배치하기*/
.wrap{
        width: 800px;
        border: 5px solid black;
        margin: 100px auto;
}

.wrap .left{
        width: 400px;
        height: 400px;
        background-color: pink;
        float: left;
}
.wrap .right{
        width: 400px;
        height: 400px;
        background-color: lightblue;
        float: right;
}

