@charset "utf-8";

/*클래스 선택자*/
.container {
    width:500px;
    padding: 10px;
    border: 1px solid #ccc;
}

.subject{
    color: #ad3000;
    font-weight: 700;
}
ul{
    list-style-type: none;
}
li{
    line-height: 2.0;
}

