@charset "utf-8";

/*클래스 선택자*/


.a{
    border: 1px solid #ccc;
    border-style:dashed;
    margin: 10px;
}

.menu{
    display: inline;
    border-left: 4px solid red;
    /* padding-left: 6px; */
    /* margin: 5px; */
    color: blue;
}
