@charset "utf-8";

/**/
section{
        width: 200px;
        height: 200px;
        margin: 50px;
        border: 1px solid #000;
        float: left;
        perspective: 400px;
}

section article{
        width: 100%;
        height: 100%;
        background-color: blue;
        opacity: 0.3;
        transform: rotateY(0deg);
        transition-property: transform opacity;
        transition-duration: 1s;
        transition-delay: 0s;
        /* 처음과 끝은 상대적으로 느릭, 중간은 빠르게 */
        transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
        /* 알정한 속도 */
        transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
        /* 처음은 느리고 갈수록 빨라진다 */
        transition-timing-function: cubic-bezier(0.42, 0.0, 1.0, 1.0);
        /* 처음은 빠르고 갈수록 느려진다 */
        transition-timing-function: cubic-bezier(0.0, 0.0, 0.58, 1.0);

}

section:hover article{
        transform: rotateY('45deg');
        background: red;
}